<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ usernames.0.name }} - {{ usernames.0.title }} developer portfolio">
    <meta name="author" content="{{ usernames.0.name }}">
    <title>
      {% block title %}
      {{title}}
      {% endblock title %}
    </title>    <!-- font icons -->
{% include 'layout/head.html' %}

</head>

<body data-spy="scroll" data-target=".custom-navbar" data-offset="40">

    <!-- Page Navbar -->
{% include 'components/navbar.html' %}
{% include 'components/header.html' %}
	<main>
      {% block main %}

      {% endblock main %}
    </main>
    {% include "components/footer.html" %}
    {% include "components/toasts.html" %}
{% include 'layout/script.html' %}

</body>

</html>