<div class="container">
        <footer class="footer">
            <p class="mb-0">Copyright
                <span id="current-year">{% now "Y" %}</span> &copy; {{ usernames.0.name }}</p>
            <div class="social-links text-right m-auto ml-sm-auto">
                <a href="https://t.me/Umidjon5335" class="link" target="_blank" rel="noopener" aria-label="Telegram"><i class="fa-brands fa-telegram"></i></a>
                <a href="https://www.instagram.com/nur1ddino_vv/" class="link" target="_blank" rel="noopener" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://github.com/Umidjon3535" class="link" target="_blank" rel="noopener" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>
            </div>
        </footer>
    </div> <!-- end of page footer -->
