    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h6 class="header-title">
                <span class="up">HI!</span>
                <span class="down" style="font-size:40px; opacity:0.8">I am {{usernames.0.name}}</span>
            </h6>
            <p class="header-subtitle">{{usernames.0.title}}  DEVELOPER</p>

            <a class="btn btn-primary" style="color:white" href="#portfolio">Visit My Works</a>
        </div>
    </header><!-- end of page header -->
